.Skills .box {
    padding: 20px;
    size: 20%;
}
.Skills .box h2 {
    margin: 20px 0 20px 0;
}
.Skills .heading h2{
    font-size: 40px;
}
.Skills .box p {
    word-spacing: 1px;
    transition: 0.5s;
    font-size: smaller;
}

.Skills .box:hover p {
    color: black;
}
.Skills .box:hover i {
    color: black;
    opacity: 1;
}
.Skills .skills-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; 
}
  
.Skills .skill-box {
    width: 30%; 
    height: fit-content;
    margin: 10px; 
    box-sizing: border-box;
}

.btn_shadow:hover{
  background-color: #ecf0f3;
  color: black;
  transform: translateY(-10px);
}

.Skills .heading{
    text-align: center;
}
.skills-title{
    align-content: center;
    margin: 30px;
}
/* Media Queries for Tablet */
@media only screen and (max-width: 768px) {
    .Skills .skill-box {
      width: 70%; /* Adjust the width for tablet screens */
    }
  }

/* Media Queries for Mobile */
@media only screen and (max-width: 480px) {
  .skills-container{
    width: 100%;
  }
  
    .Skills .skill-box {
      width: 70%; /* Adjust the width for mobile screens */
    }
    
    .Skills .box {
      padding: 15px;
    }
  
    .Skills .box h2 {
      margin:  0;
    }
  
    .Skills .heading h2 {
      font-size: 30px;
    }
  
    .Skills .box p {
      font-size: small;
    }
  
    .skills-title {
      margin: 15px;
    }
}