.Skills .box {
    padding: 20px;
    size: 20%;
}
.Skills .box h2 {
    margin: 20px 0 20px 0;
}
.Skills .heading h2{
    font-size: 40px;
}
.Skills .box p {
    word-spacing: 1px;
    transition: 1s;
    font-size: smaller;
}

.Skills .skills-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; 
}
  
/* .Skills .skill-box {
    width: 30%; 
    height: fit-content;
    margin: 10px; 
    box-sizing: border-box;
} */



.Skills .heading{
    text-align: center;
}
.skills-title{
    align-content: center;
    margin: 30px;
}
/* General container styling */
.container {
  padding: 20px;
  width: 100%;
}

/* Row styling */
.row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  width: 100%;
}

/* Column styling */
.col-md-3 {
  flex: 1;
  padding: 15px;
  box-sizing: border-box;
}

/* Card styling */
.card {
  background-color: #f8f9fa;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card h5 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 15px;
}

/* Hover effect for cards */
.card:hover {
  transform: translateY(-10px);
  box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.2);
}

.icon{
  font-size: xx-large;
}
.carousel-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto; /* Center the carousel */
  width: 60%;
  height: 100%;
  overflow: hidden;
  
}

.slide {
  opacity: 0;
  transition-duration: 0.5s ease;
}

.slide.active {
  opacity: 1;
  transition-duration: 0.5s ease;
  transform: scale(1.08); /* Optional zoom effect for active slide */
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
  /* user-select: none; */
}

.left-arrow {
  left: 10px;
}

.right-arrow {
  right: 10px;
}

.Skills .container-top {
  text-align: center;
}

.Skills .heading h2 {
  font-size: 40px;
  margin-bottom: 20px;
}


/* Media Queries for Tablet */
@media only screen and (max-width: 768px) {
    .Skills .skill-box {
      width: 70%; /* Adjust the width for tablet screens */
    }
  }
 
/* Media Queries for Mobile */
@media only screen and (max-width: 480px) {
  .skills-container{
    width: 100%;
  }
  

  .row{
    flex-direction: column;
  }
    .Skills .skill-box {
      width: 70%; /* Adjust the width for mobile screens */
    }
    
    .Skills .box {
      padding: 10px;
    }
  
    .Skills .box h2 {
      margin:  0;
    }
  
    .Skills .heading h2 {
      font-size: 30px;
    }
  
    .Skills .box p {
      font-size: small;
    }
  
    .skills-title {
      margin: 15px;
    }
}

@media only screen and (max-width:326px){

  .box img{
    width:80px;
    height: auto;
  }

  .left-arrow {
    left: 1px;
  }
  
  .right-arrow {
    right: 1px;
  }

  .carousel-container{
    width:80%;
  }

  .box{
    padding: 0;
  }
}