.About .heading h2 {
    font-size: 40px;
}

.About .content {
    width: 80%;
    margin: 10px;
}

.About .box {
    padding: 30px;
}

.About p {
    font-size: 18px;
    transition: 0.5s;
}

.About .box {
    margin-bottom: 40px;
    position: relative;
}

.btn_shadow {
    padding: 20px 30px; /* Increase padding for larger buttons */
    font-size: 20px; /* Increase font size */
    border-radius: 6px;
    transition: 0.5s all ease;
    cursor: pointer;
    color: #000;
    background: linear-gradient(145deg, #e2e8ec, #ffffff);
    box-shadow: 4px 4px 8px #cbcbcb, -4px -4px 8px #ffffff;
}

.btn_shadow:hover {
    background: #be5e5e;
    box-shadow: none;
    color: white;
}

.About .content-section {
    position: relative;
}

.About .left {
    display: flex;
    flex-direction: column;
}

.About .toggle-button {
    color: black;
    padding: 15px 0px; /* Increase padding for larger buttons */
    font-size: 18px; /* Increase font size */
    border: none;
    cursor: pointer;
    transition: background-color 0.5s;
    margin-bottom: 10px; /* Add margin between buttons */
    width: 100%; /* Make buttons fill the screen width */
    margin-left: 0px;
    align-items: center;
}

.About .toggle-button:hover {
    background-color: #be5e5e;
}

.About .left::after {
    content: "";
    position: absolute;
    top: 16%;
    left: 0;
    height: 118vh;
    width: 5px;
    background: #d9dee2;
    z-index: -2;
}

.About .box::after {
    content: "";
    position: absolute;
    top: 13%;
    left: -8%;
    height: 5px;
    width: 50px;
    background: #d9dee2;
}

.About .left::before {
    content: "";
    position: absolute;
    top: 11%;
    left: -10%;
    height: 10px;
    width: 10px;
    background: #d9dee2;
    border: 2px solid #d9dee2;
    border-radius: 50%;
    border-right: 50%;
    z-index: 5;
}

.summary{
    display:flex;
    flex-direction: row;
    justify-content: center;
}

/* Media Queries for smaller screens */

@media only screen and (max-width: 1200px) {
    .About h4 {
        margin-left: 0;
    }
}

@media only screen and (max-width: 992px) {
    .About .heading h2 {
        font-size: 30px;
    }

    .About h4 {
        margin-left: 0;
    }
    .title_content {
        font-size: small;
    }

    .About .box {
        padding: 20px;
    }

    .About p {
        font-size: 16px;
    }

    .btn_shadow {
        padding: 18px 25px; /* Adjust padding for medium screens */
        font-size: 18px; /* Adjust font size for medium screens */
    }
}

@media only screen and (max-width: 768px) {
    .About .content {
        width: 90%;
        font-size: xx-small;
    }

    .About h4 {
        margin-left: 0;
    }

    .btn_shadow {
        padding: 16px 20px; /* Adjust padding for smaller screens */
        font-size: 16px; /* Adjust font size for smaller screens */
    }

    .About .toggle-button {
        font-size: 10px;
    }

    .About p {
        font-size: 11px;
        padding: 0;
    }

    .About .box {
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 480px) {
    .About .heading h2 {
        font-size: 24px;
    }

    .About .content {
        width: 90%;
        padding: 0 10px;
        margin:0;
    }

    .btn_shadow {
        padding: 14px 15px; /* Adjust padding for very small screens */
        font-size: 14px; /* Adjust font size for very small screens */
    }

    .About .toggle-button {
        font-size: 8px;
        padding: 10px 0;
    }

    .About p {
        font-size: 10px;
    }

    .About .box {
        padding: 10px;
        margin-bottom: 15px;
    }

    .About .left::after {
        top: 20%;
        height: 100vh;
        width: 3px;
    }

    footer {
        margin: 0;
        background-color: #000;
        height: 60px;
    }
}

@media only screen and (max-width: 320px) {
    .About .heading h2 {
        font-size: 20px;
    }

    .About .content {
        width: 90%;
        padding: 0px;
        margin:0;
    }

    .btn_shadow {
        padding: 12px 10px; /* Adjust padding for extra small screens */
        font-size: 12px; /* Adjust font size for extra small screens */
    }

    .About .toggle-button {
        font-size: 6px;
        padding: 8px 0;
    }

    .About p {
        font-size: 8px;
    }

    .About .box {
        padding: 8px;
        margin-bottom: 10px;
    }

    .About .left::after {
        top: 20%;
        height: 100vh;
        width: 2px;
    }

    footer {
        margin: 0;
        background-color: #000;
        height: 40px;
    }
}
