.projects .box {
    position: relative;
    padding: 20px;
    size: 20%;
  }
  .projects .box h2,
  .projects .box img {
    transition: opacity 0.5s;
  }
  .projects .box:hover .project-title,
  .projects .box:hover .project-image {
    opacity: 0;
  }  
.projects .box p {
    word-spacing: 1px;
    transition: 0.5s;
    font-size: smaller;
    display: none; /* Hide desc by default */
}
.projects .box.hovered p {
    display: block; /* Show desc when hovered */
    color: black; /* Change the color when hovered */
  }
  
  .projects .heading h2{
    font-size: 40px;
}

.projects .projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; 
}
  
.projects .projects-box {
    width: 30%; 
    margin: 10px; 
    box-sizing: border-box;
}
.projects .heading{
    text-align: center;
}