.projects .box {
    position: relative;
    padding: 20px;
    size: 20%;
  }
  .projects .box:hover {
    background-color: transparent;
  }
  
  .projects .box h2,
  .projects .box img {
    transition: opacity 0.5s;
  }
  .projects .box:hover .project-title,
  .projects .box:hover .project-image {
    opacity: 0;
  }  
.projects .box p {
    word-spacing: 1px;
    transition: 0.5s;
    font-size: smaller;
    display: none; 
    
}
.projects .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.9); /* Adjust the alpha value for transparency */
  z-index: 1;
  display: none;
  padding: 20px;
  box-sizing: border-box;
}

.projects .box.hovered p {
    display: block;
    color: black;
    font-size: 20px;
  }
  
  .projects .heading h2{
    font-size: 40px;
}

.projects .projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; 
}
  
.projects .projects-box {
    width: 30%; 
    margin: 10px; 
    box-sizing: border-box;
}
.projects .heading{
    text-align: center;
}
.git{
  margin: 110px;
  font-size: 50px;
}
/* Media Queries for Mobile */
@media only screen and (max-width: 480px) {
  .projects .box {
    size: 80%; /* Adjust the size as needed */
  }

  .projects .projects-box {
    width: 80%; /* Adjust the width as needed */
  }

  .projects .git {
    margin: 10px; /* Adjust the margin as needed */
    font-size: 20px; /* Adjust the font size as needed */
  }
}
@media only screen and (max-width: 768px) {
  .projects .box {
    size: 50%; /* Adjust the size as needed */
  }

  .projects .projects-box {
    width: 45%; /* Adjust the width as needed */
  }

  .projects .git {
    margin: 30px; /* Adjust the margin as needed */
    font-size: 30px; /* Adjust the font size as needed */
  }
  .projects img{
    width: 40%;
  }
}


